<template>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item" v-if="accountName">
        Hello {{ accountName }}!
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <b-button icon-left="settings" @click="$emit('show-settings')"></b-button>
          <GoogleLogin class="button" v-if="authenticated" :params="params" :logoutButton=true  :onSuccess="handleLogout">Logout</GoogleLogin>
          <GoogleLogin class="button" v-else :params="params" :onSuccess="handleLogin" :onFailure="onFailure">Login</GoogleLogin>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import GoogleLogin from 'vue-google-login';

export default {
    name: 'navbar',
    components: {
      GoogleLogin
    },
    watch: {
      authenticated: function(newStatus, oldStatus) {
        this.$emit('authenticated', newStatus);
      }
    },
    data() {
      return {
          params: {
              client_id: process.env.VUE_APP_GOOGLE_CLIENT_ID,
              scope: 'https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events'
          }
      }
  }
}
</script>

<style>
nav {
  margin-bottom: 1em;
}
</style>
