<template>
  <div>
    <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Results</p>
    </header>
    <section v-if="results" class="modal-card-body week">
      <div>Monday</div>
      <div>Tuesday</div>
      <div>Wednesday</div>
      <div>Thursday</div>
      <div>Firday</div>
      <div>Saturday</div>
      <div>Sunday</div>
      <ScheduleItem v-for="(item, i) in results" :day="i+1" :item="item" :key="i" :style="{gridColumnStart: i === 0 ? firstDayOfMonth : null}"></ScheduleItem>
    </section>
    <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button class="button is-primary" @click="saveToCalendar()">Save to calendar</button>
    </footer>
  </div>
  </div>
</template>

<script>
import ScheduleItem from './ScheduleItem.vue';
import CalendarService from './../CalendarService';
import * as dateFns from 'date-fns';
import data from './../assets/data.json';

export default {
  name: "result-modal",
  props: ['results', 'month', 'firstDayOfMonth'],
  mixins: [CalendarService],
  components: {
    ScheduleItem,
  },
  methods: {
    saveToCalendar() {
      this.$props.results.forEach(scheduleItem => {
        const year = dateFns.getYear(new Date());
        const summary = scheduleItem.label;
        const scheduleType = data.shiftTypes.find(type => type.title === scheduleItem.label);
        if (!scheduleType) {
          return;
        }
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        let start = dateFns.format(new Date(year, 5, scheduleItem.day), 'YYYY-MM-DD');
        start = scheduleType.start ? `${start}T${scheduleType.start}:00` : start;
        let end = dateFns.format(new Date(year, 5, scheduleItem.day), 'YYYY-MM-DD');
        end = scheduleType.end ? `${end}T${scheduleType.end}:00` : end;
        this.createEvent({
          summary,
          end: scheduleType.end ? {
            dateTime: end,
            timeZone: tz
          } : {
            date: end
          },
          start: scheduleType.start ? {
            dateTime: start,
            timeZone: tz
          } : {
            date: start
          }
        });
      });
      this.$toast.open({
          message: 'Schedule imported!',
          type: 'is-success'
      })
    }
  }
}
</script>

<style lang="scss">
.week {
  display: grid;
  grid-template-columns: repeat(7, 200px);
  grid-gap: 20px;
}
</style>
