<template>
<div class="card">
  <header class="card-header">
    {{ day }}
  </header>
  <div class="card-content">
    <div class="content">
      <b-select v-model="item.label" expanded>
            <option
                v-for="(option, index) in scheduleTypes"
                :value="option.title"
                :key="index">
                {{ option.title }}
            </option>
        </b-select>
    </div>
  </div>
</div>
</template>

<script>
import data from './../assets/data.json'
export default {
  name: "schedule-item",
  props: ['day', 'item'],
  data() {
    return {
      scheduleTypes: data.shiftTypes
    }
  }
}
</script>

<style>
.card-header {
}
</style>
