<template>
  <div class="settings">
     <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Calendar</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Selected calendar" v-if="preferences">
            <b-select placeholder="Select a calendar" v-model="preferences.calendar">
                <option
                    v-for="calendar in calendars"
                    :value="calendar.id"
                    :key="calendar.id">
                    {{ calendar.name }}
                </option>
            </b-select>
        </b-field>
    </section>
    <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button class="button is-primary" @click="saveToLocalStorage">Save</button>
    </footer>
  </div>
  </div>
</template>

<script>
import CalendarService from '../CalendarService';

export default {
  name: 'settings-modal',
  mixins: [CalendarService],
  mounted() {
    this.getCalendarList().then(res => this.calendars = res.items.map(item => {
      return {
        name: item.summary,
        id: item.id
      }
    }));
    this.preferences = localStorage.getItem('preferences') ? JSON.parse(localStorage.getItem('preferences')) : {
      calendar: null
    };
  },
  data() {
    return {
      calendars: [],
      preferences: null,
    }
  },
  methods: {
    saveToLocalStorage() {
      localStorage.setItem('preferences', JSON.stringify(this.preferences));
      this.$parent.close();
    }
  }
}
</script>

<style>

</style>
