<template>
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <h1 class="title">Hello stranger!</h1>
      <div>This app allows you to convert your awesome 'screenshot of Excel' style schedule into google calendar appointments.</div>
      <div>To start using this app please do the following:</div>
      <div class="box steps">
        <ol>
          <li>Login to your Google account</li>
          <li>Click the settings button and select the correct agenda</li>
          <li>Check if the correct month is selected; change to the correct one if not</li>
          <li>Upload the schedule image</li>
          <li>Select the region that contains your schedule (be as accurate as you can manage)</li>
          <li>Press the "crop" button</li>
          <li>Press the "recognize" button</li>
          <li>Check the generated result and correct where necessary</li>
          <li>Click the "save to calendar" button</li>
        </ol>
      </div>
    </div>
    <div class="column"></div>
  </div>
</template>

<script>
export default {
  name: 'welcome'
}
</script>

<style>
.steps {
  margin-top: 2em;
  text-align: left;
  padding-left: 2.5em !important;
}
</style>
