<template>
  <div id="app">
    <Navbar v-on:show-settings="isSettingsModalActive = true" v-on:authenticated="authenticated = $event"/>
    <div v-if="authenticated">
      <div class="month-picker">
      <b-field label="Create schedule for">
          <b-select placeholder="Select a month" v-model="selectedMonth" expanded>
              <option
                  v-for="month in months"
                  :value="month"
                  :key="month">
                  {{ month }}
              </option>
          </b-select>
      </b-field>
      </div>
      <section>
        <div class="actions">
            <b-button class="action-button" icon-left="delete" @click="imgSrc = null">
              Remove</b-button>
            <b-button class="action-button" icon-left="redo" @click="rotate">
              Rotate</b-button>
            <b-button class="action-button" icon-left="crop" @click="cropImage">
              Crop</b-button>
        </div>
      </section>
      <section v-if="!imgSrc">
        <b-field>
          <b-upload @input="setImage"
              accept="image/*"
              drag-drop>
              <section class="section">
                  <div class="content has-text-centered">
                      <p>
                          <b-icon
                              icon="upload"
                              size="is-large">
                          </b-icon>
                      </p>
                      <p>Drop your file here or click to upload</p>
                  </div>
              </section>
            </b-upload>
          </b-field>
      </section>
      <vue-cropper
        v-if="imgSrc"
        class="image-cropper"
        ref='cropper'
        :guides="true"
        :view-mode="2"
        drag-mode="crop"
        :auto-crop-area="0.5"
        :min-container-width="250"
        :min-container-height="180"
        :background="true"
        :rotatable="true"
        :src="imgSrc"
        :zoomable="true"
        alt="Source Image"
        :img-style="{ 'width': '80vw', 'height': '600px' }">
      </vue-cropper>
      <div style="display: none">
        <img v-for="(day, i) in scheduleItems" :key="i" :src="day" style="height: 40px; border: 1px solid gray" alt="Cropped Image" />
        <img :src="cropImg" alt="">
      </div>
      <b-button class="action-button" size="is-large" icon-left="play-circle" type="is-primary" :loading="isLoading" @click="parseImgs">Recognize</b-button>
      <b-modal :active.sync="isResultModalActive" has-modal-card width="'90vw'">
        <result-modal :results="result" :month="selectedMonth" :firstDayOfMonth="firstDayOfMonth"></result-modal>
      </b-modal>
      <b-modal :active.sync="isSettingsModalActive" has-modal-card width="'90vw'">
        <SettingsModal />
      </b-modal>
    </div>
    <Welcome v-else />
  </div>

</template>

<script>
  import { TesseractWorker } from 'tesseract.js';
  import VueCropper from 'vue-cropperjs';
  import ResultModal from './components/ResultModal';
  import SettingsModal from './components/SettingsModal';
  import Welcome from './components/Welcome';
  import Navbar from './components/Navbar'
  import { setTimeout } from 'timers';
  import * as dateFns from 'date-fns';
  import data from './assets/data.json';

  export default {
    name: 'app',
    components: {
      VueCropper,
      ResultModal,
      SettingsModal,
      Navbar,
      Welcome
    },
    mounted() {
      let date = new Date();
      this.selectedMonth = dateFns.format(dateFns.addMonths(date, 1), "MMMM")
      this.tesseractWorker = new TesseractWorker();
    },
    computed: {
      formattedSelectedMonth() {
      },
      daysInSelectedMonth() {
        let date = new Date();
        const month = this.months.indexOf(this.selectedMonth);
        date.setMonth(month);
        date.setDate(1);
        return dateFns.getDaysInMonth(date);
      },
      firstDayOfMonth() {
        let date = new Date();
        const month = this.months.indexOf(this.selectedMonth);
        date.setMonth(month);
        date.setDate(1);
        return dateFns.getDay(date);
      }
    },
    data() {
      return {
        imgSrc: null,
        cropImg: '',
        scheduleItems: [],
        tesseractWorker: null,
        result: [],
        isResultModalActive: false,
        isSettingsModalActive: false,
        isLoading: false,
        selectedMonth: null,
        months: data.months
      };
    },
    methods: {
      async parseImgs() {
        this.result = [];
        this.scheduleItems.forEach((day, i) => {
          this.recognize(day).then(res => this.result.push({label: res, day: (i + 1)}))
        })
        this.isResultModalActive = true;
      },
      async recognize(img) {
        if (!img) {
          return;
        }
        let result = await this.tesseractWorker.recognize(img)
        result = this.cleanOCRResult(result.text)
        return result;
      },
      cleanOCRResult(result) {
        result = result.replace('|', '')
                            .replace('[', '')
                            .replace(']', '')
                            .replace('(', '')
                            .replace(')', '')
                            .replace(' ', '')
                            .replace('\'', '')
                            .replace('-', '')
        return result.trim();
      },
      setImage(file) {
        if (!file.type.includes('image/')) {
          alert('Please select an image file');
          return;
        }
        if (typeof FileReader === 'function') {
          const reader = new FileReader();
          reader.onload = (event) => {
            this.imgSrc = event.target.result;
            // rebuild cropperjs with the updated source
            this.$refs.cropper.replace(event.target.result);
          };
          reader.readAsDataURL(file);
        } else {
          alert('Sorry, FileReader API not supported');
        }
      },
      async cropImage() {
        // get image data for post processing, e.g. upload or setting image src
        const width = this.$refs.cropper.getCroppedCanvas().width
        const height = this.$refs.cropper.getCroppedCanvas().height
        this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
        setTimeout(() => {
          this.scheduleItems = [...this.cutImageUp(this.cropImg, 31, width, height)]
        }, 500)
      },
      cutImageUp(crop, amountOfPieces, fullWidth, height) {
        let img = new Image()
        img.src = crop
        let imagePieces = []
        const widthOfOnePiece = fullWidth / amountOfPieces
        for(let x = 0; x < amountOfPieces; ++x) {
            let canvas = document.createElement('canvas')
            canvas.width = widthOfOnePiece
            canvas.height = height
            var context = canvas.getContext('2d')
            context.drawImage(img, x * widthOfOnePiece, 0, widthOfOnePiece, height, 0, 0, canvas.width, canvas.height)
            imagePieces.push(canvas.toDataURL())
        }
        return imagePieces
      },
      rotate() {
        this.$refs.cropper.rotate(90);
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "./assets/theme.scss";
#app {
  text-align: center;
  min-height: 100vh;
}
.month-picker {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.animation-content {
  max-width: unset;
}
.upload-draggable,
.image-cropper {
  text-align: center;
  margin-top: 20px;
  width: 80vw;
  height:600px;
  border: 1px solid gray;
  border-radius: 6px;
  display: inline-block;
  .section {
    height: 100%;
    .content {
      height: 100%;
      display: grid;
      align-content: center;
    }
  }
}
.cropper-container,
.cropper-wrap-box,
.cropper-drag-box.cropper-crop.cropper-modal {
  border-radius: 6px;
}
.action-button {
  margin: 10px 5px 0 5px;
}
[v-cloak] {display: none}
</style>
